<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-grey" style="z-index: 10000;">
          <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <a class="navbar-brand mt-2 mt-lg-0" href="http://localhost:4200/home">
                <img src="../assets/stickers-rose-silhouette.jpg.png" height="45" alt="logo">
              </a>
            </div>
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            </div>
          </div>
        </nav>
      </header> 
      <section class="h-100 gradient-custom-2">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-left align-items-left h-100">
            <form class="d-flex">
              <img src="../assets/mav.jpg"
                   alt="Generic placeholder image" class="img-fluid mt-4 mb-2 rounded-circle"
                   style="width: 100px; height: 100px; z-index: 1">
              <div class="ms-4 mt-4 d-flex flex-column">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword2">Ponovite lozinku</label>
                  <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Repeat Password">
                </div>
                <button type="submit" class="btn btn-dark">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </section>      
</body>
</html>