.sidebar {
    width: 20%; /* Adjust the width as needed */
    height: 92.6vh; /* Full height of the viewport */
    background-color: #920000;
    position: relative;
    top: 0;
    left: 0;
    padding: 0px;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 5); /* Add a subtle shadow */
  }

  
.center-vertically {
  display: inline-block;
  padding: 10px 20px; /* Adjust padding to control button size */
  font-size: 16px; /* Adjust font size */
  text-align: center;
  text-decoration: none;
  border: none;
  background-color: #000000; /* Button background color */
  color: #920000; /* Button text color */
  cursor: pointer;
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth hover effect */
  margin-left: 30%;

  /* Add other styles for center-vertically div as needed */
}

.center-vertically:hover {
  background-color: #7c0101; /* Change background color on hover */
}